/**************************总样式begin**************************/
body{
    background-color: #e2e3e5;
}
/*********************头部begin*********************/
#all_header{

}

.buttonMargin{
    margin:0px 10px 0px 0px;
}

/*********************头部end*********************/
/*********************主体begin*********************/
.main{
    background-color: white;
    max-width: 1200px;
    margin: 15px auto;
    padding: 0px 10px;
}
/*********************主体end*********************/
/*********************尾部begin*********************/
#all_footer{
    background-color: purple;
}
/*********************尾部end*********************/
/**************************总样式end**************************/



/**************************主页begin**************************/
/*********************热榜begin*********************/
#hot{
    background-color: black;
}
/*********************热榜end*********************/
/*********************section begin*********************/
#index_blog{
    background-color: orange;
}
#index_bbs{
    background-color: yellow;
}
#index_salon{
    background-color: green;
}
#index_material{
    background-color: blue;
}
/*********************section end*********************/
/**************************主页end**************************/



/**************************博客begin**************************/
/**************************博客end**************************/



/**************************论坛begin**************************/
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.media-object {
    width: 50px;
    height: 50px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
/**************************论坛end**************************/



/**************************沙龙begin**************************/

/**************************沙龙end**************************/



/**************************资料begin**************************/

/**************************资料end**************************/


/**************************个人中心begin**************************/
.profile .section {
    margin-top: 15px;
}
/**************************个人中心end**************************/

/**************************问题详情begin**************************/
.community-menu {
    color: #999;
    font-size: 13px;
}
/**************************问题详情end**************************/
