/**************************总样式begin**************************/
body{
    background-color: #e2e3e5;
}
/*********************头部begin*********************/
#all_header{

}

.buttonMargin{
    margin:0px 10px 0px 0px;
}

/*********************头部end*********************/
/*********************主体begin*********************/
.main{
    background-color: white;
    max-width: 1200px;
    margin: 15px auto;
    padding: 0px 10px;
}
/*********************主体end*********************/
/*********************尾部begin*********************/
#all_footer{
    background-color: purple;
}
/*********************尾部end*********************/
/**************************总样式end**************************/



/**************************主页begin**************************/
/*********************热榜begin*********************/
#hot{
    background-color: black;
}
/*********************热榜end*********************/
/*********************section begin*********************/
#index_blog{
    background-color: orange;
}
#index_bbs{
    background-color: yellow;
}
#index_salon{
    background-color: green;
}
#index_material{
    background-color: blue;
}
/*********************section end*********************/
/**************************主页end**************************/



/**************************博客begin**************************/
/**************************博客end**************************/



/**************************论坛begin**************************/
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
/**************************论坛end**************************/



/**************************沙龙begin**************************/

/**************************沙龙end**************************/
.jumbotron {
    margin: 50px;
}


/**************************资料begin**************************/

/**************************资料end**************************/
.media-body {
    padding-top: 10px;
}

.media-object {
    width: 64px;
    height: 64px;
}
/**************************个人中心begin**************************/
.profile .section {
    margin-top: 15px;
}
/**************************个人中心end**************************/

/**************************问题详情begin**************************/
.comment {
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.question-title {
    margin-top: 25px;
}

.community-menu {
    display: block;
    color: #999;
    font-size: 13px;
    margin-bottom: 0px;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn{
    margin: 10px 0;
}


.comment-sp {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .zi {
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
}

.menu .active {
    color: #499ef3;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon :hover {
    color: #499ef3;
}

.menu .zi:hover {
    color: #499ef3;
}
/**************************问题详情end**************************/