/**************************头部begin**************************/
#index_header{

}


/**************************头部end**************************/


/**************************博客begin**************************/
#index_blog{
    background-color: orange;
}
/**************************博客end**************************/


/**************************论坛begin**************************/
#index_bbs{
    background-color: yellow;
}
/**************************论坛end**************************/


/**************************沙龙begin**************************/
#index_salon{
    background-color: green;
}
/**************************沙龙end**************************/


/**************************资料begin**************************/
#index_material{
    background-color: blue;
}
/**************************资料end**************************/


/**************************尾部begin**************************/
#index_footer{
    background-color: purple;
}
/**************************尾部end**************************/
