<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head>
    <title>问答-沙龙社区</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  引入自定义样式  -->
    <link rel="stylesheet" th:href="@{/css/community.css}">

    <!--  引入zico图标样式  -->
    <link rel="stylesheet" th:href="@{/css/zico.min.css}">

    <!--  部署bootstrap  -->
    <!--    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">-->
    <!--    <script src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>-->
    <!--    <script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body style="background-color: #efefef;">
<!------------------------------------------头部begin------------------------------------------>
<!--------------------------------导航-------------------------------->
<div th:insert="~{navigation :: nav}"></div>

<!------------------------------------------头部end------------------------------------------>


<!-------------------------------------------主体begin------------------------------------------>
<div class="container-fluid main" th:if="${id == null}">
    <div class="row">
        <!--------------------------------主栏，问题列表-------------------------------->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="zi zi_listSquare" aria-hidden="true"></span> 问答</h2>
            <hr>
            <div class="media" th:each="question : ${pagination.questions}">
                <img th:src="${question.user.avatarUrl}" class="mr-3 media-object rounded">
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/ask/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span th:text="${question.description}"></span> <br>
                    <span class="text-desc"><span th:text="${question.commentCount}"></span> 个回复 • <span
                            th:text="${question.viewCount}"></span> 次浏览 • <span
                            th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
            </div>
            <!--------------------------------主栏，分页-------------------------------->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                    <li class="page-item" th:if="${pagination.showFirstPage}">
                        <a class="page-link" href="/ask?page=1" tabindex="-1" aria-label="First">
                            <span aria-hidden="true">&lt;&lt;</span>
                            <span class="sr-only">First</span>
                        </a>
                    </li>
                    <li class="page-item" th:href="@{/ask(page=${pagination.page - 1})}">
                        <a class="page-link" href="/ask?page=1" tabindex="-1" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}"
                        th:class="${pagination.page == page}? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{/ask(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li class="page-item" th:if="${pagination.showNext}">
                        <a class="page-link" th:href="@{/ask(page=${pagination.page +1 })}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li class="page-item" th:if="${pagination.showEndPage}">
                        <a class="page-link" th:href="@{/ask(page=${pagination.totalPage})}" aria-label="Last">
                            <span aria-hidden="true">&gt;&gt;</span>
                            <span class="sr-only">Last</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--------------------------------侧栏-------------------------------->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
        </div>
    </div>
</div>

<div class="container-fluid main profile" th:if="${id!=null}">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <span th:text="${title}"></span></h4>
            <span class="text-desc">
                作者：<span th:text="${question.user.name}"></span> |
                发布时间：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> |
                阅读数： <span th:text="${question.viewCount}"></span>
            </span>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.description}"></div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <script th:inline="javascript">
                var error = [[${error}]];
                $(document).ready(function () {
                    if(error!=null)
                        $("#editA").trigger("click");
                });
            </script>

            <a class="community-menu"
               id="editA"
               data-toggle="modal"
               data-target="#editModal"
               th:href="@{'/ask/'+${question.id}}"
               th:if="${session.user != null && session.user.id == question.creator}">
                <span class="zi zi_pencilalt" aria-hidden="true"></span>
                编辑
            </a>
            <!----------------------- “编辑”模态 ----------------------->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="aExampleModalLabel"><span class="zi zi_plus"
                                                                                  aria-hidden="true"></span>编辑</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{'/ask/'+${question.id}}" method="post" id="form-edit">
                                <input type="hidden" name="Eid" th:value="${id}">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="title" name="title"
                                           th:value="${title}"
                                           placeholder="问题标题,一句话描述问题">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="tag" name="tag"
                                           th:value="${tag}"
                                           placeholder="输入标签，以，号分隔">
                                </div>
                                <div class="form-group">
                                    <label for="description">问题描述:</label>
                                    <textarea class="form-control" cols="30" id="description" name="description"
                                              th:text="${description}"
                                              rows="10"></textarea>
                                </div>
                                <div class="form-group alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                     th:text="${error}"
                                     th:if="${error != null}">
                                </div>
                                <div class="form-group ">
                                    <button type="submit"
                                            class="btn btn-success btn-publish col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        保存编辑
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle"
                                 th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${question.user.name}"></span>
                        </h5>
                    </div>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------主体end------------------------------------------>

<!------------------------------------------尾部begin------------------------------------------>
<footer id="all_footer">尾部</footer>
<!------------------------------------------尾部end------------------------------------------>
</body>
</html>